
@mixin titre{
	font-size: rem-calc(25);
	font-family:$bungeeShade;
	color: $vert;
	line-height: 1.2;
	//text-align: center;
}

@mixin texteCourant{
	font-family: $karla;
	color: $vert;
	font-size: rem-calc(14);
	line-height:1.3;
}

@mixin encart{
	background: #FFF;
	border: 1px solid $vert;
	padding: 1rem;
	position:fixed;
}

@mixin slider{
	// background: $vert;
	// padding: 0.4rem 0.4rem 1rem 0.4rem;
	position:fixed;
}

@mixin formes{
	position:fixed;
}


@mixin liensDirect{
	font-size: rem-calc(20);
	font-family:$bungee;
	color: #FFF;
	position:absolute; 
	top: 35%;
	left: 45%;
	transform: translate(-50%);
}


@mixin H2{
	font-size: rem-calc(20);
	font-family:$bungee;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	&:first-child{
		margin-top: 0;
	}
}

@mixin titreSection{
	@include H2;
	border-bottom: 1px solid $vert;
}

@mixin H3{
	font-size: rem-calc(18);
	font-family:$bungee;
}

@mixin H4{
	font-size: rem-calc(16);
	font-family:$bungee;
}

@mixin H5{
	font-size: rem-calc(14);
	font-family:$bungee;
}

@mixin secondMenu{
	font-size: rem-calc(12);
	font-family:$bungee;
	color: $vert;
	padding: 0 !important;
	line-height:1.2 !important;
}

