// I M P O R T
@import "../fonts/stylesheet.css";
@import "_foundation.scss";
@import "_font-awesome.scss";
@import "_variables.scss";



body {
	font-size: 12px;
	@include texteCourant;
}

body[data-template='home']{
		overflow: hidden;
}

body[data-template='candidats']{
		width:auto;
		main{
			overflow-x:scroll;
		}
}

h1,h2,h3,h4,h5,h6, a{
	color: $vert;
}
h2,h3,h4,p{

}

h1{
	font-size: 1.9em;
}
h2{
	@include H2;
}

h3{
	@include H3;
}
h4{
	@include H4;
}
h5{
	@include H5;
}
p{
	@include texteCourant;
}

ul{
	margin:0;
	li{
		@include texteCourant;
		list-style:none;
	}
}

// .inner-content .text-wrapper ul li {
// 	&:before{
// 		content: "—";
// 		margin-right: 5px;
// 	}
// }

figure{
	margin:2em 0 3em 0;
}

p a{
	text-decoration: underline;
}

a{
	
	&:hover, .active{
		text-decoration: underline;
		color: $vert;
	}
}

.FigureImage-lazy {
	padding:0 !important;
}

img{width: 100%; max-width:100%}

header{
	.top-bar{
		.title-area{			
			margin-left: 1rem;
			
		}
		.name{
			width: 250px;
			padding: 0.8em 0 0.8em 0;
			h1 {
				display:none;
			}
		}
		.top-bar-section{
				.left{
					margin-left:0.8em;
					display: flex;
			    -ms-flex-wrap: nowrap;
			    flex-wrap: nowrap;
			    -ms-flex-pack: distribute;
			    justify-content: space-around;
			    // max-width: 65rem;
			    // float:center !important;
			    li{
			    	float:none;
			    	display: inline-block;
				    -webkit-box-flex: 1;
				    -ms-flex: 1 1 auto;
				    flex: 1 1 auto;
			    }
					a{
						font-size: rem-calc(14);
						padding: 0 0.8rem;
					}
				}
				.social-network{
					li:first-child a{padding-left: 0.8rem;}
					a{
						//&:first-child{padding-left: 1.66667rem;}
						padding:0 0.4em;}
				}
				.right{
					line-height:1.2;
					padding: 0.5em 2em 0.5em 0.5em;	
					.languages, .infos-menu{
						display:block;
						float:none;
					}
					.languages {
						&:after{
							content: "—"; 
							display:block;
							line-height: 1.2;
						}
						li{
							float:none;
							display:inline-block;
							&.active{
								a{text-decoration: underline;}
							}
						}
					}
					a{
						@include secondMenu;
					}
				}
		}
	}
}

#preloader {
	display: none;
	width: 1px;
	height: 1px;
	visibility: none;
}
.no-js {
	padding-top: 106px;
}

.loading {
	//background: url('../img/ico_loading.gif') no-repeat center center;
}
.loading main {
	background: none;
}
section {
	min-width: 960px;
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}

.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	overflow:hidden;
}

.sommaire-wrapper a{
	font-family: $bungeeLine;
	font-size: rem-calc(22);
	text-decoration:none;
	&:hover{text-decoration:underline;}
}

.appel-liens a{
	display:inline-block;
	border: 1px solid $vert;
	padding: 5px; 
	margin-bottom: 1em;
	margin-right: 0.2em;
	font-family: $bungeeLine;
	font-size: rem-calc(18);
	text-decoration:none;
	text-align: center;
	background:$vert;
	color: #FFF;
	&:hover{
		background:#FFF;
		color: $vert;
	}
}

.text-inner{
	ul{
		margin-bottom: 1.25rem;
		li{
			&::before{
				content:"—";
				margin-right: 0.5em;
			}
		}
	}
}

/* Slide 1 */
#slide-1 .bcg {
	background-image:url('../images/plan-1-gauche.png'); 
	z-index:7; 	
	top: $topbar-height;
}

/* Slide 2 */
#slide-2 .bcg {
	background-image:url('../images/plan-1-droite.png'); 
	z-index:7;	
	top: $topbar-height;
}

/* Slide 3 */
#slide-3 .bcg {
	background-image:url('../images/plan-2.png');
	z-index:6;
}

/* Slide 4 */
#slide-4 .bcg {
	background-image:url('../images/plan-3.png');
	z-index:5;
}

/* Slide 5 */
#slide-5 .bcg {
	background-image:url('../images/plan-4.png');
	z-index:3;
}

/* Slide 6 */
#slide-6 .bcg {
	background-image:url('../images/plan-5.png');
	z-index:1;
	top: $topbar-height;
}


//Cartel
.textCartel{
	overflow:hidden;
	> .inner-content{
		@include encart;
		height:78vh;
		overflow-y:scroll;
		// position:absolute; 
		// height:auto;
	}
}

//slider
.sliderCartel{
	.inner-content{
		@include slider;
		// position:absolute; 
		// height:auto;
		.caption-wrapper{
			background-color: #FFF;
			padding: 1em;
			display:inline-block;
			p{margin-bottom: 0;}
		}
	}
}

// formes
.formes{
	.inner-content{
		@include formes;
		a, p{
			@include liensDirect;
		}
	}
}

// Sections textuelles spécifiques
// section{
// 	min-height:100vh; 
// 	position:relative;
// }

section .inner-content{
	z-index:20;
	// position:absolute;
	position:fixed;
	top: $topbar-height + 2;
	// opacity:0;
}

#home .inner-content{
	// position:absolute;
	top: 50%;
	transform: translateY(-30%);
	// top: 50vh;
	text-align: center; 
	.title{
		position:relative;
		// width: 500px;
		margin:auto;
		margin-bottom: 0.5em;
		h1{
			font-family: $bungeeShade;
			font-size: rem-calc(46);
			line-height: 1;
			margin-bottom: 0.5em;
			&.overlay{
				font-family: $bungee;
				color: #FFF;
				position: absolute;
				top: -3px;
    		left: 10px;
    		letter-spacing: 0.1em;
    		z-index: -1;
			}
		}
	}
	h2{
		font-size: rem-calc(22);
		text-align: center;
	}
	.formes{
		position:relative;
		a, p{
			@include liensDirect;
		}
	}
	.invitation-to-scroll{
		margin-top: 0.7em;
		font-size: rem-calc(40);
		font-family: $bungee;
	}
}
#appel-a-projets .inner-content{
	.entete-text{ 
		p{font-weight:bold;}
	}
	.appel-section{

	}
}   
#home-appel .inner-content{z-index:20;} 
#resume-du-projet .inner-content, #resume-du-projet-slider .inner-content{
	// top: 800vh;
	z-index:20;
} 
#partenaires .inner-content{z-index:20; 
	// top: 1200vh;
} 
#calendrier .inner-content{z-index:10; 
	// top: 1500vh;
} 
#contact .inner-content{z-index:20; 
	// top: 1800vh;
} 
#contact-appel .inner-content{z-index:20;} 
#appel-a-projets .inner-content{z-index:20;}  

#partenaires .inner-content{
	.text-wrapper{
		li.partenaire-el{
			border-bottom: 1px solid $vert;
			padding: 1.5rem 0 1rem 0;
			&:first-child{
				padding-top:0;
			}
			&:last-child{
				border-bottom: none;
				//h3{font-size: rem-calc(15)}
			}
			.more-text{
				display:none;
			}
			.see-more{
				cursor: pointer;
			}
		}
	}
	.sliderCartel{
		.inner-content{
			@include slider;
			top:$topbar-height + 2;
			left: -100%;
		}

	}
}

#calendrier .inner-content{
	// padding-left: 5rem;
	// padding-right: 5rem;
	.colonne-wrapper li{
		// border-bottom: 2px solid $jaune;
		// border-left: 2px solid $jaune;
		// margin-left: -10px;
		// padding-left: 10px;

		// border-right: 2px solid $jaune;
		// margin-right: 10px;
		// padding-right: 10px;
	}
	h2{
		font-size: rem-calc(14);
		min-height: 90px;
		// background: $jaune;
		// padding: 1em;
		// border: 2px solid $jaune;
		margin-bottom: 1em;
		// text-align: center;
		// margin-left: -10px;
		// padding-left: 10px;
	}
	a{text-decoration: none;}
	ul{
		margin-left: 0;
		li{
			height: 170px;
			h4{
				font-size: rem-calc(15);
				padding: 0.5em 0 0 0;
				font-family: "karla", Helvetica, sans-serif;
				font-weight: bold;
				line-height: 1.2;
				//letter-spacing: 0.08em;
				//font-family: $bungeeLine;
				
			}
			.date-head{
				border-bottom: 1px solid $vert;
				letter-spacing: 0.08em;
			}
			p{
				margin-bottom:0;
				//letter-spacing: 0.08em;
				text-align: left;
			}

		}
	}

}


#bar{
  background-color:$jaune;
  width:100%;
  height:5px;
}


// slider
.slider{
  overflow:hidden;
  margin-left: 0;
  // &:hover button{
  // 	display:block;
  // }
  img {
    margin:auto;
    max-width:none;
  }
  button{
    background: transparent;
    padding: 0;
    color: $vert;
    font-size: 2em;
    font-weight: 100;
    position:absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 999;
    outline: none;
    //display:none;
    &.slick-prev{
      left:10px;
    }
    &.slick-next{
      right:10px;
    }
  }
  .slick-dots{
    margin-top:0.5rem;
    li{
      width: 15px;
      height:15px;
      background: #FFF;
      border-radius: 100%;
      border: 2px solid $vert;
      display:inline-block;
      margin-right: 0.5em;
      cursor: pointer;
      &.slick-active{
        background: $jaune;
      }
    }
    button{display:none;}
  }
}

// Animation 

#dauphin .anim {
  width: 450px;
  height: 100px;
  position: fixed;
	top: 0;
	left: 0;
	z-index:4;
  //margin: 2em auto; 
  background:  transparent url('../images/dauphin/sprites3.png') 0 0 no-repeat;
  //background-size: 100%;
  animation: dauphin 2.5s steps(52) infinite;
}

@keyframes dauphin {
  100% { background-position: 0 -5000px; }
}

#oiseaux .anim{
  width: 50px;
  height: 49px;
  position: fixed;
	top: 60px;
	left: 58%;
	z-index:1;
  margin: 2em auto; 
  background:  transparent url('../images/oiseaux3/sprites3.png') 0 0 no-repeat;
  animation: oiseau 2.5s steps(26) infinite;
}


@keyframes oiseau {
  100% { background-position: 0 -1263px; }
}

#arbre .anim{
  width: 160px;
  height: 227px;
  position: fixed;
  top: 15vh;
	//top: 20px;
	left: 28.7%;
	z-index:1;
  margin: 2em auto; 
  background:  transparent url('../images/arbre/sprites3.png') 0 0 no-repeat;
  animation: arbre 3.5s steps(51) infinite;
}


@keyframes arbre {
  100% { background-position: 0 -11569px; }
}

//vimeo 

figure.video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-bottom: 2rem;
 	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

// Formulaire
#formulaire{
	margin-bottom: 5rem;
	.retour {
		padding: 1rem 2rem;
		a{
			background: #FFF;
			font-size: rem-calc(16);
			color: $vert;
			&:hover{
				text-decoration:none;
			}
			//border: 1px solid $vert;
			//margin-top: 1rem;
		}
	}
}
label{
	color: $vert;
}

input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="month"], 
input[type="week"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
input[type="color"], textarea {
	border-color: $vert;
	box-shadow: none;
}

textarea{
	height: 300px;
}

.input_fields_wrap-links{
	div{padding-left:0;position:relative;}
}

.add_links_button.small{
	padding: 10px; 
	background: $vert;
	color: #FFF;
	outline: none;
	margin-top: 1.3rem;
}

.remove_field{
	text-align:right;
	text-decoration:underline;
	position:relative;
	display:block;
	margin-top: -0.7rem;
}

input[type="submit"] {
	background: #FFF;
	font-family: $bungee;
	color: $vert;
	border: 1px solid $vert;
	outline:none;
	margin-top: 1rem;
	&:hover{
		background: $vert;
		color: #FFF;
	}
}

// table
table{
  table-layout: fixed;
  width: 3000px;
  min-height: 60vh;
}
tr{
	border-bottom: 1px solid #000;
}
table tr th{text-align:center;}
td, th{
	border-right: 1px solid #000;
}

tr td{
	white-space: normal;   
	word-break: break-all;
	word-wrap: break-word;
	width: 200px;
}


@import "mobile.scss";




