// I M P O R T
@import "../fonts/terminal/stylesheet.css";
@import "_foundation.scss";
@import "_font-awesome.scss";
@import "_variables.scss";



body {
	font-size: 12px;
	font-family: $font , monospace;
	background: $background-color;
}

h1,h2,h3,h4,h5,h6, a{
	font-family: $font, monospace;
	color: #000;
}
h2,h3,h4,p{font-size:$h1-font-size;}
p{line-height:1.2;}

ul{
	margin:0;
	li{list-style:none;}
}

figure{
	margin:0;
}

.FigureImage-lazy {
	padding:0 !important;
}

img{width: 100%; max-width:100%}




