// I M P O R T
@import "../fonts/stylesheet.css";
@import "_foundation.scss";
@import "_font-awesome.scss";
@import "_variables.scss";



body {
	font-size: 12px;
	@include texteCourant;
}

h1,h2,h3,h4,h5,h6, a{
	color: $vert;
}
h2,h3,h4,p{

}

h1{
	font-size: 1.9em;
}
h2{
	@include H2;
}

h3{
	@include H3;
}
h4{
	@include H4;
}
h5{
	@include H5;
}
p{
	@include texteCourant;
}

ul{
	margin:0;
	li{
		@include texteCourant;
		list-style:none;
	}
}

.inner-content ul li {
	&:before{
		content: "—";
		margin-right: 5px;
	}
}

figure{
	margin:0;
}

p a{
	text-decoration: underline;
}

a{
	
	&:hover, .active{
		text-decoration: underline;
		color: $vert;
	}
}

.FigureImage-lazy {
	padding:0 !important;
}

img{width: 100%; max-width:100%}

header{
	.top-bar{
		.name{
			padding: 0.5em 0;
			margin-left: 2em;
			width: 200px;
			//transform: skewX(5deg);
			h1 {
				//line-height: 0;
				display:none;
				// a{
				// 	@include titre;
				// 	line-height: 0;
				// 	padding-top: 0.5em;
				// 	span{
				// 		font-family: $bungee;
				// 		font-size: 0.6em;	
				// 	}
				// }
			}
		}
		.top-bar-section{
			.left{
				margin-left:4em;
				//width: 50%;
				//margin:auto;
				a{
					font-size: rem-calc(16);
				}
			}
			.right{
				line-height:1.2;
				padding: 0.5em 2em;	
				.languages, .infos-menu{
					display:block;
					float:none;
				}
				.languages {
					&:after{
						content: "—"; 
						display:block;
						line-height: 1.2;
					}
					li{
						float:none;
						display:inline-block;
						&.active{
							a{text-decoration: underline;}
						}
					}
				}
				a{
					@include secondMenu;
				}
			}
		}
	}
}

#preloader {
	display: none;
	width: 1px;
	height: 1px;
	visibility: none;
}
.no-js {
	padding-top: 106px;
}

.loading {
	//background: url('../img/ico_loading.gif') no-repeat center center;
}
.loading main {
	background: none;
}
section {
	min-width: 960px;
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}

.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
/* Slide 1 */
.bcg {background-image:url('../images/plan-1-gauche.png'); z-index:7;}

/* Slide 2 */
#slide-2 .bcg {background-image:url('../images/plan-1-droite.png'); z-index:7;}

/* Slide 3 */
#slide-3 .bcg {background-image:url('../images/plan-2.png');z-index:6;}

/* Slide 4 */
#slide-4 .bcg {background-image:url('../images/plan-3.png');z-index:5;}

/* Slide 5 */
#slide-5 .bcg {background-image:url('../images/plan-4.png');z-index:3;}

/* Slide 6 */
#slide-6 .bcg {background-image:url('../images/plan-5.png');z-index:1;}


//Cartel
.textCartel{
	overflow:hidden;
	.inner-content{
		@include encart;
		height:80vh;
		overflow-y:scroll;
	}
}

//slider
.sliderCartel{
	.inner-content{
		@include slider;
	}
}


// formes
.formes{
	.inner-content{
		@include formes;
		a, p{
			@include liensDirect;
		}
	}
}

// Sections textuelles spécifiques
#home .inner-content{z-index:6;} 
#home-appel .inner-content{z-index:6;} 
#resume-du-projet .inner-content, #resume-du-projet-slider .inner-content{z-index:3;} 
#partenaires .inner-content{z-index:2;} 
#calendrier .inner-content{z-index:1;} 
#contact .inner-content{z-index:1;} 
#appel-a-projets .inner-content{z-index:1;} 
#appel-a-projets-appel .inner-content{z-index:1;} 
#appel-a-projets-form .inner-content{z-index:1;} 

#partenaires .inner-content{
	.text-wrapper{
		li{
			&:before{content:""}
			border-bottom: 1px solid $vert;
			padding: 1.5rem 0 1rem 0;
			&:first-child{
				padding-top:0;
			}
			.more-text{
				display:none;
			}
			h3{
				
			}
			h4{
				font-family: $bungeeLine;
				cursor: pointer;
				text-align: right;
			}
		}
	}
	.sliderCartel{
		display:none;
		.inner-content{
			@include slider;
		}
	}
}

#calendrier .inner-content{
	ul{
		//display: flex;
		li{
			&:before{
				content:"";
			}
			height: 200px;
			h4{
				border-bottom: 1px solid $vert;
			}

		}
	}

}


#bar{
  background-color:$jaune;
  width:100%;
  height:5px;
}


// slider
.slider{
  overflow:hidden;
  margin-left: 0;
  img {
    margin:auto;
    max-width:none;
  }
  button{
    background: transparent;
    padding: 0;
    color: $vert;
    font-size: 2em;
    font-weight: 100;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    outline: none;
    &.slick-prev{
      left:10px;
    }
    &.slick-next{
      right:10px;
    }
  }
  .slick-dots{
    margin-top:0.5rem;
    li{
    	&:before{content:""}
      width: 15px;
      height:15px;
      background: #FFF;
      border-radius: 100%;
      border: 2px solid $vert;
      display:inline-block;
      margin-right: 0.5em;
      cursor: pointer;
      &.slick-active{
        background: $jaune;
      }
    }
    button{display:none;}
  }
}

// Animation 

#dauphin .anim {
  width: 450px;
  height: 100px;
  position: fixed;
	top: 0;
	left: 0;
	z-index:4;
  //margin: 2em auto; 
  background:  transparent url('../images/dauphin/sprites3.png') 0 0 no-repeat;
  //background-size: 100%;
  animation: dauphin 2.5s steps(52) infinite;
}

@keyframes dauphin {
  100% { background-position: 0 -5000px; }
}

#oiseaux .anim{
  width: 50px;
  height: 49px;
  position: fixed;
	top: 60px;
	left: 58%;
	z-index:1;
  margin: 2em auto; 
  background:  transparent url('../images/oiseaux3/sprites3.png') 0 0 no-repeat;
  animation: oiseau 2.5s steps(26) infinite;
}


@keyframes oiseau {
  100% { background-position: 0 -1263px; }
}

#arbre .anim{
  width: 160px;
  height: 227px;
  position: fixed;
	top: 20px;
	left: 28.7%;
	z-index:1;
  margin: 2em auto; 
  background:  transparent url('../images/arbre/sprites3.png') 0 0 no-repeat;
  animation: arbre 3.5s steps(51) infinite;
}


@keyframes arbre {
  100% { background-position: 0 -11569px; }
}

// uniform
.uniform__potty {
  position: absolute;
  left: -9999px;
}





// #dauphin .anim {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	z-index:3;
//   width: 399px;   /* Viewport Width */
//   height: 12.46em;   /* Viewport Height (~ 199.42px) */
//   margin: 2em auto;   /* Little margin */
//   background: transparent url('../images/dauphin/sprites3.png') 0 0 no-repeat;   /* Our sprite as viewport background */
//   animation: catwalk 1s steps(51) infinite; /* The Animation */
// }

// @keyframes catwalk {
//   100% { background-position: 0 -2393px; }
// }




