@media #{$small-only}, #{$medium-only}{

	p, li, a, ul li{
		text-align: left;
	}

	

}

@media #{$small-only} {

	
}

@media screen and (max-width: 1200px) { 
	header {
		.top-bar {
			&.expanded{
				background:$jaune;
				position: fixed;
			}
			.title-area{
				margin-left:0.8rem;
			}
			.top-bar-section {
				ul li{
					background:$jaune;
					margin-bottom: 0.5em;
				}
				.left{
					margin-left: 0;

					&.social-network, &.newsletter{
						float:none !important;
						line-height: 1.2;
						li{display:inline-block;}
					}
				}
				.right{
					float:none !important;
					padding-bottom: 2em;
					padding-left: 0.8rem;
				}
			}
		}
	}

}