@media #{$small-only}, #{$medium-only}{
	p, li, a, ul li{
		text-align: left;
	}
	// home
	.plan-gauche, .plan-droite{display:none;}
	.page-title{
		word-wrap: break-word;
		hyphens: auto;
		h1{word-wrap: break-word;hyphens: auto;}
	}
	.header-for-desktop{
		display:none;
	}
	header{
		padding-right: 20px;
		.menus-wrapper{
			display:none;
			width: 100%;
			position:absolute;
			top:4.8rem;
			left: 0;
			background: $jaune; 
			padding: 0 1em 1em 1em;
			z-index: 10;
			max-height: 100vh;
			overflow: scroll;
		}
		nav {
				margin:0;
			> ul{
				display: block;

				>li {
					a{
						font-size: rem-calc(18);
						line-height: 1.8;
					}
					> ul {
						position:relative;
						top:0;
						> li{
							> a{
								padding: 0.5em 2em;
								span.sub-title{
									line-height: 0.8;
								}
								span.sub-des {
									display:block;
									margin-left: 0;
									line-height: 1.2;
								}
							}
						}
					}
				}
			}
		}

		.siteName{
			// width: 80%;
			// max-width: 250px;
			width: 280px;
			float:left;
		}
		.icon-mobile-wrapper{
			float:right;
			vertical-align:top;
			a{
				font-size: 30px;
				padding-top: 3px;
			}
		}
		.menu-secondaire{
			margin-top: 1em;
			li {
				a{font-size: rem-calc(15);}
				padding-bottom: 0.2em;
			}
		}
		.social-network{
			margin-top:1em;
			li{
				display:inline-block;
				padding-right: 0.5em;
				a{font-size: rem-calc(20);}
			}
		}
	}
	header.header-for-mobile{
		display:block;
		.menus-wrapper{
			display:none;
			&.active{
				display:block;
			}
		}
	}
}



@media #{$small-only} {
	
	body[data-template='home'] {
		.wrap{
			top: 40%;
			h2{
				font-size: rem-calc(20);
			}
		}
	}
	.page-title{
		padding-left: 0.5em;
	}
	.page-trame{
		left:0;
	}
	.page-leftCol{

		nav.gn3t-menu{
			li{text-align: left;}
		}
		.page-links {
			margin-bottom: 1em;
			h3, li{
				text-align: left;
			}
		}
	}
	.page-author{
		padding-left: 0.8em;
		p{text-align: left;}
	}
	.section-content{
		padding: 0.8em;
	}

	body[data-template='voyage']{
		.big-cover{
			height:auto;
			max-height: 300px;
		}
		.page-menu-parent {
			margin-bottom: 1em;
			nav li, nav h3{
				text-align: left;
			}
		}
	}
	
}

@media #{$xlarge-up}{
	header nav > ul > li > a{
		font-size: rem-calc(20);
	}
}

@media screen and (max-width: 1200px) { 
	header {
		.top-bar {
			&.expanded{
				background:$jaune;
				position: fixed;
			}
			.title-area{
				margin-left:0.8rem;
			}
			.top-bar-section {
				ul li{
					background:$jaune;
					margin-bottom: 0.5em;
				}
				.left{
					margin-left: 0;

					&.social-network, &.newsletter{
						float:none !important;
						line-height: 1.2;
						li{display:inline-block;}
					}
				}
				.right{
					float:none !important;
					padding-bottom: 2em;
					padding-left: 0.8rem;
				}
			}
		}
	}

}