@media #{$small-only}, #{$medium-only}{
	header {
		.top-bar {
			&.expanded{
				background:$jaune;
				position: fixed;
			}
			.title-area{
				margin-left:0.8rem;
			}
			.top-bar-section {
				ul li{
					background:$jaune;
					margin-bottom: 0.5em;
				}
				.left{
					margin-left: 0;

					&.social-network, &.newsletter{
						float:none !important;
						line-height: 1.2;
						li{display:inline-block;}
					}
				}
				.right{
					float:none !important;
					padding-bottom: 2em;
					padding-left: 0.8rem;
				}
			}
		}
	}

	p{
		text-align: left;
	}

	.textCartel > .inner-content{
		height: 70vh;
	}

	body[data-template="home"] {
    overflow: hidden!important;
  }
}

@media #{$small-only} {

	.textCartel > .inner-content{
		padding: 1rem;
	}

	#home .inner-content{
		transform: translateY(-40%);
		h2{
			font-size: 1rem;
		}
		.formes{
			padding: 0.8em;
			.teaser-button{
				font-size: 0.8rem;
			}
		}
	}

	#formulaire .inner-form{
		padding: 1rem;
	}

	.teaser figure.video {
	 	iframe {
			top: 30vh;
			height:40vh;
		}
	}
}